[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AsyK"]
	path = AsyK
	url = https://github.com/cran/AsyK
[submodule "DEEVD"]
	path = DEEVD
	url = https://github.com/cran/DEEVD
[submodule "DELTD"]
	path = DELTD
	url = https://github.com/cran/DELTD
